{%extends "base.html"%}
 {%block quotes%}
  {%block style%}
   <style>
       .content{
           background-color: indigo;
           color: ivory;
       }

   </style>
  {%endblock style%}
  <img src="../static/PeriodicTableWallpaper-56a12d103df78cf7726827e81-0c02b1ee4c8b42478b651c7c9aaac7f9.jpg" alt="">
 {%endblock quotes%}
{%block content%}
<body>
    <div class="content">
        <p>There are three branches of science Physics, Chemistry , Biology.</p> <br>   
        <p>But I like Chemistry and  Physics because physics deals with the forms of energy, it also contains the study of our solar system with a lot of fun facts like planets such as Venus which is not closest to the sun but is still the hottest planet ,there is an asteroid belt between mars and Jupiter , there is a spot on Jupiter called the red spot as big as the earth ,the planet mars is named after the roman god of war and people are trying to visit it, etc. But there are rumors as well, such as there was life found on mars, etc. </p> <br>
        <p>Whereas chemistry is a subject related to all chemicals. It is mostly based on the periodic table formulated by Demitri Mandeleev. Chemistry is also used in clothes such as synthetic fibers Ex-Terylene, etc. In making of medicine chemicals are required Ex-A medicine used to cure pain, fever and inflammation is Aspirin, etc. Chemistry is required in making liquid form cleaning agents such as mouth washes, etc.</p> <br>
    </div>
</body>
{%endblock content%}