<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Quiz</title>
    <style>
        body{
            background-color: black;
            color: aquamarine;
        }
        form{
            margin-top: 10%;
        }
        h2{
            margin-left: 40%;
        }
        .message{
            color: rgb(195, 252, 248);
        }
        .score{
            color: rgb(195, 252, 248);
        }
    </style>
</head>
<body>
    <h2>SPACE QUIZ!!!!!!!!!!</h2>
    <form action="/Q1">
        <h3>
            Q1)I'm NOT closest to the sun but i'm the hottest planet. Who am i???
        </h3>
        <label for="">
            A.Mercury
        </label>
        <input type="radio" name="User" value="A" id="">
        <label for="">
            B.Venus
        </label>
        <input type="radio" name="User" value="B" id="">
        <label for="">
            C.Mars
        </label>
        <input type="radio" name="User" value="C" id="">
        <label for="">
            D.Jupiter
        </label>
        <input type="radio" name="User" value="D" id="">
        <button type="submit">Submit</button>
    </form>
    <h4 class="message">{{message}}</h4>
    <h4 class="Score">You're score is {{score}}</h4>
    <a href="/get_Q2"><button>Next</button></a>
</body>
</html>