<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Quiz</title>
    <style>
        body{
            background-color: black;
            color: aquamarine;
        }
        form{
            margin-top: 10%;
        }
        h2{
            margin-left: 40%;
        }
        .message{
            color: rgb(195, 252, 248);
        }
        .score{
            color: rgb(195, 252, 248);
        }
    </style>
</head>
<body>
    <h2>SPACE QUIZ!!!!!!!!!!</h2>
    <form action="/Q4">
        <h3>
            Q4)What's the the spot on Jupiter called, Is it larger than earth???
        </h3>
        <label for="">
            A.Red Spot,Yes
        </label>
        <input type="radio" name="Option" value="A" id="">
        <label for="">
            B. Red Spot,No
        </label>
        <input type="radio" name="Option" value="B" id="">
        <label for="">
            C.Big Spot,Yes
        </label>
        <input type="radio" name="Option" value="C" id="">
        <label for="">
            D.Big Spot,No
        </label>
        <input type="radio" name="Option" value="D" id="">
        <button type="submit">Submit</button>
    </form>
    <h4 class="message">{{message}}</h4>
    <h4 class="Score">You're score is {{score}}</h4>
    <a href="get_Q5"><button>Next</button></a>
</body>
</html>