{%extends "base.html"%}
    {%block content%}
    <div class="wrapper">
        <div class="title">
            <form action="/validate_q3" method="POST">
            <h4>3) Which synthetic fibre is used in clothing??</h4>
            <div class="box">
                <input type="radio" name="select" id="option-1" value="1">
                <input type="radio" name="select" id="option-2" value="2">
                <input type="radio" name="select" id="option-3" value="3">
                <input type="radio" name="select" id="option-4" value="4">
                
                <label for="option-1" class="option-1">
                    <div class="dot"></div>
                    <div class="text">Cotton</div>
                            
                    
                </label>
                <label for="option-2" class="option-2">
                    <div class="dot"></div>
                    <div class="text">Jute</div>
                            
                    
                </label>
                <label for="option-3" class="option-3">
                    <div class="dot"></div>
                    <div class="text">Terylene</div>
                            
                    
                </label>
                <button><a href="/q4">Next</a></button>
                <button type="submit">Click to Submit</button>
                <h5 class="message">{{message}}</h5> 
                <h5 class="Score">Your score is {{score}}</h5>
            </div>
        </div>
    </form>
    </div>
    {%endblock%}
