{%extends "base.html"%}
    {%block quiz%}
    
    <div class="wrapper">
        <div class="title">
            <form action="/q9" method="POST">
            <h4>Q9) What's the the spot on Jupiter called, Is it larger than earth???</h4>
            <div class="box">
                <input type="radio" name="select" id="option-1" value="1">
                <input type="radio" name="select" id="option-2" value="2">
                <input type="radio" name="select" id="option-3" value="3">
                <input type="radio" name="select" id="option-4" value="4">
                
                <label for="option-1" class="option-1">
                    <div class="dot"></div>
                    <div class="text">A.Red Spot,Yes</div>
                            
                    
                </label>
                <label for="option-2" class="option-2">
                    <div class="dot"></div>
                    <div class="text">B. Red Spot,No</div>
                            
                    
                </label>
                <label for="option-3" class="option-3">
                    <div class="dot"></div>
                    <div class="text">C.Big Spot,Yes</div>
                            
                    
                </label>
                <label for="option-4" class="option-4">
                    <div class="dot"></div>
                    <div class="text">D.Big Spot,No</div>
                            
                    
                </label>

                <button type="submit" class="btn-gradient">Click to Submit</button>
                <h5 class="message">{{message}}</h5> 
                <h5 class="Score">Your score is {{score}}</h5>
            </div>
        </form>
        </div>
    </div>
    {%endblock quiz%}
